<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/LogInPage.css" />
    <link rel="icon" href="~/Attachments/KIDLogo.jpg" />
    @RenderSection("PageHead",false)
</head>
<body>
    <header id="HeaderLogIn">
        <img src="~/Attachments/KIDLogo.jpg" class="LogInLogo" >
    </header>
    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
<footer>
    <div id="Logo">
        <table class="footer">
            <tr>
                <th>Contact KID</th>
                <th>Main Office</th>
                <th>Phone Num.</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>
                    <img src="~/Attachments/KIDLogo.jpg">
                </td>
                <td>
                    <address>
                        6640 KID Lane,
                        <br>Klamath Falls
                        <br>OR 97603
                    </address>
                </td>
                <td>(541)882-6661</td>
                <td>
                    8AM-4:30PM
                    <br>Monday-Friday
                </td>
            </tr>
        </table>
    </div>
</footer>