@using KlamathIrrigationDistrict.DataLayer.DataModels
@using PagedList.Mvc;
@model PagedList.IPagedList<Customers>
@{
    ViewBag.Title = "CustomerEditPage";
}
<head>
    <title>KID: Customers</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--First.LastName, Requests, history, Contacts, Edit Account, Conversions-->
<header id="Menu">
    <ul>
        <li>
            <label class="FirstLast">First.Last</label>
        </li>
        <li><a href="./Index.html">Requests</a></li>
        <li><a href="~/Views/Customers/CustomerWaterOrderHistory.cshtml">History</a></li>
        <li><a href="~/Views/Customers/CustomersContactsPage.cshtml">Contacts</a></li>
        <!--edit account page needs work-->
        <li><a id="active" href="~/Views/Customers/CustomerEditPage.cshtml">Edit Account</a></li>
        <li><a href="~/Views/Customers/CustomerConversionPage.cshtml">Conversions</a></li>
        <a href="../KIDLogInPageHTML.html"><button class="LogOutBtn">Log Out</button></a>
    </ul>
</header>
<h2>CustomerEditPage</h2>

