@using KlamathIrrigationDistrict.DataLayer.DataModels
@*@using PagedList.Mvc;
@model PagedList.IPagedList<Customers>*@
@Customers
@{
    ViewBag.Title = "CustomersContactsPage";
}
<head>
    <title>KID: Customers</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Customers.css" />
    <script src="~/Scripts/KIDDitchRidersJS.js"></script>
</head>
<!--First.LastName, Requests, history, Contacts, Edit Account, Conversions-->
<header id="Menu">
    <ul>
        <li>
            <label class="FirstLast">First.Last</label>
        </li>
        <li><a href="./Index.html">Requests</a></li>
        <li><a href="~/Views/Customers/CustomerWaterOrderHistory.cshtml">History</a></li>
        <li><a id="active" href="~/Views/Customers/CustomersContactsPage.cshtml">Contacts</a></li>
        <!--edit account page needs work-->
        <li><a href="~/Views/Customers/CustomerEditPage.cshtml">Edit Account</a></li>
        <li><a href="~/Views/Customers/CustomerConversionPage.cshtml">Conversions</a></li>
        <a href="../KIDLogInPageHTML.html"><button class="LogOutBtn">Log Out</button></a>
    </ul>
</header>
<body>
    <div style="overflow-x: auto;">
        <!--Ditch Riders Table class=Contacts-->
        <table class="Contacts">
            <caption>Ditch Riders and Relief Riders</caption>
            <tr>
                <th>Ride Number</th>
                <th>Ditch Rider</th>
                <th>Relief Ditch Rider</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ansoni, Hernandez</td>
                <td>Rod, CDebaca</td>
                <td>
                    <input type="tel" placeholder="(541)819-0764" disabled>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Skip, Mahler</td>
                <td>Jeff, Koenig</td>
                <td>
                    <input type="tel" placeholder="(541)819-0979" disabled>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry, Hess</td>
                <td>Rod, CDebaca</td>
                <td>
                    <input type="tel" placeholder="(541)819-0854" disabled>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Scott, Linville</td>
                <td>Mitchell, Brown</td>
                <td>
                    <input type="tel" placeholder="(541)819-0928" disabled>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Dillon, Nowak</td>
                <td>Mitchell, Brown</td>
                <td>
                    <input type="tel" placeholder="(541)819-7516" disabled>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Willie, Stevens</td>
                <td>Mark, Pursley</td>
                <td>
                    <input type="tel" placeholder="(541)819-7536" disabled>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>Bil, Taylor</td>
                <td>Mark, Pursley</td>
                <td>
                    <input type="tel" placeholder="(541)819-7536" disabled>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Dan, Nelson</td>
                <td>Jeff, Koenig</td>
                <td>
                    <input type="tel" placeholder="(541)819-0978" disabled>
                </td>
            </tr>
        </table>
    </div>
    <div style="overflow-x: auto;">
        <!--Office Staff Table class=Contacts-->
        <table class="Contacts">
            <caption>Office Staff</caption>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>Manager</td>
                <td>John, Wolf</td>
                <td>
                    <input type="tel" placeholder="(541)-11101111" disabled>
                </td>
            </tr>
            <tr>
                <td>Assistant Manager</td>
                <td>Colleen, Sharp</td>
                <td>
                    <input type="tel" placeholder="(541)-11101111" disabled>
                </td>
            </tr>
            <tr>
                <td>Office Manager</td>
                <td>Linda, Seater</td>
                <td>
                    <input type="tel" placeholder="(541)-11101111" disabled>
                </td>
            </tr>
            <tr>
                <td>Water Master</td>
                <td>Scott, Cheyne</td>
                <td>
                    <input type="tel" placeholder="(541)-11101111" disabled>
                </td>
            </tr>
            <tr>
                <td>Maintenance Foreman</td>
                <td>Fritz, Frisendahl</td>
                <td>
                    <input type="tel" placeholder="(541)-11101111" disabled>
                </td>
            </tr>
        </table>
    </div>
</body>
<footer>
    <div id="Logo">
        <table class="footer">
            <tr>
                <th>Contact KID</th>
                <th>Main Office</th>
                <th>Phone Num.</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>
                    <img src="http://www.klamathirrigation.com/images/Old%20Hydro%201.jpg">
                </td>
                <td>
                    6640 KID Lane,
                    <br>Klamath Falls
                    <br>OR 97603
                </td>
                <td>(541)882-661</td>
                <td>
                    8AM-4:30PM
                    <br>Monday-Friday
                </td>
            </tr>
        </table>
        </table>
    </div>
</footer>
</html>