@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome user:<strong>@User.Identity.Name</strong> :) </h2>

<div class="jumbotron">
    <h1>Customer</h1>
    <p class="lead">Log in as if a customer</p>
    <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">GO &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Staff</h2>
        <p>Log in as Office Staff</p>
        <p><a class="btn btn-default" href="~/OfficeStaff/Index">GO &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ditch Rider</h2>
        <p>Log in as Ditch Rider</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">GO &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Water Master</h2>
        <p>Log in as Water Master</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">GO &raquo;</a></p>
    </div>
</div>