/*Ditch Rider Pages*/
#Header 
{
	list-style-type: none;
	overflow: auto;
	top: 0; 
	display: inline-block;
	width: 900px;
    color: white;
}

#RideCenter
{    
    background-color: #014764;
    color: white;
}

#RideCenter a
{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid black;
    color: white;
}

#Menu
{    
	float: left;
	margin: 0 0 1em 0;
   	padding: 0;
    background-color: #014764;
    color: white;
}

#Menu li
{
	float: left;
	list-style: none;
    color: white;
}

#Menu li a
{
	display: block;
    color: white;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid black;

}

#Header li a:hover:not(#active)
{
    background-color: #f7941d;
}

#active 
{
	background-color: #0000cc;
	color: white;
}

.dropdownRequest
{
	display: none;
	position: absolute;
    background-color: #014764;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	overflow: auto;
}

.dropdownRequest a:hover
{
	background-color: #f1f1f1;
}

.dropdown:hover .dropdownRide 
{
	display: inline-block;
}

.dropdown:hover .dropdownRequest
{
	display: inline-block;
}

/*Pagination Formating*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {

  background-color: #f7941d;
  color: white;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: white;
  cursor: default;
  background-color: #f7941d;
  border-color: #f7941d;
}

/*.pagination > .disabled > span,*/
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #014764;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}

.FirstLast
{
	padding: 11.2px 30px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	border: 1px solid black;
}

#LogOutBtn
{
    padding: 12px 30px;
	text-align: center;
	display: inline-table;
    background-color: #014764;
	border: 1px solid black;
    color: white;
}
#LogOutBtn:hover
{
    background-color: #f7941d;    
}
/*button:hover
{
	opacity: .7;
}*/

caption
{
	text-align: left;
	font-weight: bolder;
    color: #027cb1;
	font-size: 25px;	
}

.ActiveRequests
{
	border-collapse: collapse;
    width: 1000px;
	overflow: auto;
}
.ActiveRequests th
{
	border-collapse: collapse;
    background-color: #027cb1;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.ActiveRequests tr:nth-child(even)
{    
    background-color: #DCDCDC;
}

.ActiveRequests td
{
    border: 1px solid black;
	text-align: center;
	padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
	overflow: auto;
}

.ActiveRequests tr:hover
{
   font-weight: bold;
   border: 3px solid #014764;    
}

input[type=number]
{
	max-width: 60px;
}

input[type=Comments] 
{
	overflow: auto;
}
input[list=CustomersStructures]
{
	max-width: 80px;
}
input[type=TrackingID]
{
	max-width: 60px;
}

#RBorder
{    
    border-right: 1px solid #014764;
}
a:visited
{
    color: blue;
}

/*Logo*/
#Logo 
{
	display: block;
    padding: 10px;
    width: 900px;
    
}
#Logo .footer
{
	border-collapse: collapse;
}
#Logo img
{
	height: 85px;
}
#Logo .footer th
{
	vertical-align: bottom;
	text-align: center;
    background-color: #014764;
    color: white;
}
#Logo .footer td
{
	text-align: center;
	font-size: 17px;
	border: 1px solid black;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    #Header
    {
        /*width: 589px;*/
        width: 900px;
    }
    #Menu
    {    
	    float: left;
    }
    #Menu li a
    {
	    display: block;
	    text-align: center;
        padding: 5px;
	    border: 1px solid black;
    }
    #LogOutBtn
    {
        padding: 7px;
    }
    .ActiveRequests
    {
	    border-collapse: collapse;
        /*width: 589px;*/
        width: 900px;
	    overflow: auto;        
    }
    .ActiveRequests th
    {
	    border-collapse: collapse;
	    
        text-align: center;
    }
    .ActiveRequests td
    {
        border: 1px solid black;
	    text-align: center;    
	    overflow: auto;
    }
    input[type=search]
    {
        width: 300px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    #Header
    {
        width: 900px;        
    }
    #Menu
    {    
	    float: left;
    }
    #Menu li a
    {
	    display: block;
	    text-align: center;
        padding: 5px;
	    border: 1px solid black;
    }
    #LogOutBtn
    {
        padding: 7px;
    }
    .ActiveRequests
    {
	    border-collapse: collapse;
        width: 900px;
	    overflow: auto;        
    }
    .ActiveRequests th
    {
	    border-collapse: collapse;
	    
        text-align: center;
    }
    .ActiveRequests td
    {
        border: 1px solid black;
	    text-align: center;    
	    overflow: auto;
    }
    input[type=search]
    {
        width: 300px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
   #Header
    {
        width: 800px;
    }
    #Menu
    {    
	    float: left;        
    }
    #Menu li a
    {
	    display: block;
	    text-align: center;
        padding: 5px;
	    border: 1px solid black;
    }
    #LogOutBtn
    {
        padding-bottom: 7px;
    }
    .ActiveRequests
    {
	    border-collapse: collapse;
        width: 800px;
	    overflow: auto;        
    }
    .ActiveRequests th
    {
	    border-collapse: collapse;
	   
        text-align: center;
    }
    .ActiveRequests td
    {
        border: 1px solid black;
	    text-align: center;    
	    overflow: auto;
    }
    input[type=search]
    {
        width: 300px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    #Header
    {
        width: 1000px;
    }
    #Menu
    {    
	    float: left;        
    }
    #Menu li a
    {
	    display: block;
	    text-align: center;
        padding: 5px;
	    border: 1px solid black;
    }
    #LogOutBtn
    {
        padding-bottom: 7px;
    }
    .ActiveRequests
    {
	    border-collapse: collapse;
        width: 1000px;
	    overflow: auto;        
    }
    .ActiveRequests th
    {
	    border-collapse: collapse;
	    
        text-align: center;
    }
    .ActiveRequests td
    {
        border: 1px solid black;
	    text-align: center;    
	    overflow: auto;
    }
    input[type=search]
    {
        width: 300px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    #Header
    {
        width: 1200px;
        font-size: 20px;
    }
    #Menu
    {    
	    float: left;        
    }
    #Menu li a
    {
	    display: block;
	    text-align: center;
        padding: 5px;
	    border: 1px solid black;
    }
    #LogOutBtn
    {
        padding-bottom: 6px;
        font-size: 20px;
    }
    .ActiveRequests
    {
	    border-collapse: collapse;
        width: 1200px;
	    overflow: auto;
        font-size: 20px;        
    }
    .ActiveRequests th
    {
	    border-collapse: collapse;
	    
        text-align: center;
    }
    .ActiveRequests td
    {
        border: 1px solid black;
	    text-align: center;    
	    overflow: auto;
    }
    input[type=search]
    {
        width: 300px;
        font-size: 20px;
        
    }
    body
    {
        font-size: 20px;
    }
}