/*Log in Page*/
.LogInLogo
{
	width: 80%;
    height: 80%;
    padding-left: 50%;
}
/*From Ditch Riders*/
a:visited
{
    color: blue;
}
#Logo 
{
	display: block;
    padding: 10px;
    width: 800px;    
}
#Logo .footer
{
	border-collapse: collapse;
}
#Logo img
{
	height: 85px;
}
#Logo .footer th
{
	vertical-align: bottom;
	text-align: center;
    background-color: #014764;
    color: white;
}
#Logo .footer td
{
	text-align: center;
	font-size: 17px;
	border: 1px solid black;
}
/*Log In*/
.Instructions
{
	border-left: 6px solid #014764;
	background-color: #f1f1f1;
	padding-left: 30px;
	text-align: left;
    width: 800px;
    font-size: 25px;    
}
button 
{
	background-color:  #014764;
	color: white;
	/*margin-left: 310px;*/
	border: 1px solid black;
    font-size: 25px;
    
}
.Recovery
{
	text-align: left;
	display: inline-block;
	color: black;
    padding: 3px;
	border-collapse: collapse;
	
    font-size: 25px;
}
input[type=text], input[type=password], input[type=email]
{
	width: auto;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
    font-size: 25px;
}
body
{
    font-size: 25px;
}
footer
{
    position: page;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .LogInLogo
    {
	    width: 200px;
        height: 200px;
        padding-left: 50%;
    }
    body
    {
        margin-left: 10px;
        font-size: 25px;
    }
    .Instructions
    {
        padding-left: 30px;
        width: 800px;
        font-size: 25px;  
        margin: 0px;  
    }
    .Recovery
    {
        font-size: 25px;
        margin: 0px;
    }
    button 
    {
        font-size: 25px;
    }
    input[type=text], input[type=password], input[type=email]
    {	    
        font-size: 25px;
        margin-left: 3px;
    }
    #Logo .footer td
    {
	    font-size: 25px;
    }
    #Logo
    {
        font-size: 25px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .LogInLogo
    {
	    width: 10px;
        height: 50px;
    }
    body
    {
        /*margin-left: 300px;*/
        font-size: 25px;
    }
    .Instructions
    {
        padding: 30px;
        width: 100px;
        font-size: 25px;  
        margin: 0px;  
    }
    .Recovery
    {
        font-size: 25px;
        margin: 0px;
    }
    button 
    {
        font-size: 25px;
    }
    input[type=text], input[type=password], input[type=email]
    {	    
        font-size: 25px;
        margin-left: 3px;
    }
    #Logo .footer td
    {
	    font-size: 25px;
    }
    #Logo
    {
        font-size: 25px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
   
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .LogInLogo
    {
	    width: 300px;
        height: 300px;
    }
    body
    {
        margin-left: 300px;
        font-size: 25px;
    }
    .Instructions
    {
        padding: 30px;
        width: 700px;
        font-size: 18px;  
        margin: 0px;  
    }
    .Recovery
    {
        font-size: 18px;
        margin: 0px;
    }
    button 
    {
        font-size: 18px;
    }
    input[type=text], input[type=password], input[type=email]
    {	    
        font-size: 18px;
        margin-left: 3px;
    }
    #Logo .footer td
    {
	    font-size: 18px;
    }
    #Logo
    {
        font-size: 18px;
    }
}
