/*Office StaffPages*/
#OfficeStaffMenu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto; 
	top: 0;
	display: inline-block;
	width: 100%;
}
#OfficeStaffMenu li{
	list-style-type: none;
	float: left;
	background-color: #08ccff;
}
#OfficeStaffMenu li a{
	display: block;
	color: black;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid black;
	width: inherit;
}
#OfficeStaffMenu li a:hover:not(#active){
	background-color:#0066ff;
}
#OfficeStaffMenu #active{
	background-color: #0000cc;
	color: white;
}
#active{
	background-color: #0000cc;
	color: white;
}
.FirstLast{
	padding: 11.2px 30px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	border: 1px solid black;
}
.LogOutBtn:hover{
    opacity: .8;
    background-color: #08ccff;
}
caption{
	text-align: left;
    text-transform: uppercase;
	color: #08ccff;
	font-size: 25px;	
    display: inline-block;
}
caption #SearchCustomers{
	text-align: left;
	color: #08ccff;
	font-size: 25px;	
}
button{
	background-color: #08ccff;
	color: black;
	padding: 11.8px 15px;
	border: 1px solid black;
	width: auto;
}
button:hover{
	opacity: .8;
}
.DitchRiderContacts{
	border: 1px solid #08ccff;
	font-size: 20px;
	border-collapse: collapse;
	margin: 8px;
	overflow: auto;
}
.DitchRiderContacts th{
	background: #08ccff;
	height: 10px;
	vertical-align: bottom;
	border: solid 1px #08ccff;
}
.DitchRiderContacts td{
	text-align: center;
    border-bottom: 1px solid #3399ff;
}
.DitchRiderContacts tr:nth-child(even){
	background-color: #f2f2f2
}
.OfficeStaffCustomers{
	border-collapse: collapse;
}
.OfficeStaffCustomers th{
	border-collapse: collapse;
	/*pale blue*/
	background-color: #3399ff;
}
.OfficeStaffCustomers tr:nth-child(even){
	background-color: #f2f2f2;
}
.OfficeStaffCustomers td{
	border-bottom: 1px solid black;
	text-align: left;
	overflow: auto;
	padding: 8px;
}
.OfficeStaffCustomers thead{
	padding: 0px;
}
ul.pagination{    
    display: inline-block;    
    padding: 0;    
    margin: 0;    
}    
ul.pagination li{    
    display: inline;    
}    
ul.pagination li a{    
    color: black;    
    float: left;    
    padding: 8px 16px;    
    text-decoration: none;    
    transition: background-color .3s; 
    border: 1px solid black;   
}  
ul.pagination li a.active{    
	background-color: #0000cc;
	color: white;    
} 
ul.pagination li a:hover:not(.active){    
    background-color: #0066ff;
    color: white;   
}
 #SearchKIDStaff{
    float: right;
    width: 100px;
    color: aqua;
 }

/*Dropdown for MTL style*/
.dropdownMTL{
    display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	width: 15%;
}
.dropdownMTL a{
    color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}
.dropdownMTL a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdownMTL{
    display: inline-block;
}
/*End dropdown for MTL Style*/
input[type=text]{
    width: 100px;
}
/*Formatting form html Helpers*/ 
input[type=Address]{
	width: 500px;
	overflow: scroll;
}
input[type=mtl]{
    width: 125px;    
}
input[type=Turnout]{
    width: 100px;
}
input[type=LongName]{
    width: 150px;
}
input[type=Acers]{
    width: 50px;
}
input[type=datetime]{
    box-sizing: content-box;
}
input[type=User]{
    width: 50%;
}
input[type=tel]{
    width: 100px;
}
/*End*/
input[type=password]{
    width: 100px;
}
input[type=Comments]{
	width: 100px;
	overflow: auto;
	word-wrap: break-word;
}
input[type=CFS]{
	width: 50px;
}
input[type=number]{
	width: 40px;
}
input[type=CustomerID]{
	width: 50px;
}
input[type=owner]{
    width: 100%;
}
#DivisionID{
    width: 90px;
}
#Turnouts{
	width:100px;
}	
a:link{
	color: #08ccff;
	text-decoration: none;
}
a:visited{
	color: #08ccff;
	text-decoration: none;
}
#RBorder{
	border-right: solid 2px #08ccff;
}
.tooptip{
	position: relative;
    display: inline-block;
}
.tooptip .tooltiptext{
	visibility: hidden;
	transition: opacity 1s;
}
.tooltip:hover .tooptiptext{
	visibility: visible;
	opacity: 1;
}
#Logo{
	padding: 10px;
}
#Logo .footer{
	border-collapse: collapse;
}
#Logo img{
	height: 85px;
	width: 150px;
}
#Logo .footer th{
	vertical-align: bottom;
	text-align: center;
	background: #08ccff;
}
#Logo .footer td{
	text-align: center;
	font-size: 17px;
	border: 1px solid black;
}
/*1082 min width*/
@media only screen and (min-width: 1024px){
    #OfficeStaffMenu{
        font-size: 20px;
        overflow: auto;
        display: inline-block;
    }
    #OfficeStaffMenu ul{
        display: inline-block;
    }
    .FirstLast{
        font-size: 20px;
    }
    .LogOutBtn{
        font-size: 20px;
        display: inline-block;
    }
    .LogOutBtn:hover{
        opacity: .6;
    }
    #OfficeStaffMenu li a{
        text-align: center;
        width: 200px;
    }
    #OfficeStaffMenu li{
        list-style-type: none;
        background-color: #08ccff;
    }
    .DitchRiderContacts{
        width: 75%;
    }
    input[type=text]{
        width: 175px;
        height: 10px;
    }
    input[type=password]{
        width: 175px;
        height: 10px;
    }
    input[type=owner]{
        width: 50%;
    }
}