@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Edit Request";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";

}
<div>
    
</div>