@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests
@{
    ViewBag.Title = "KID D.R.: Canals";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
    @using (Html.BeginForm())
    {
        <table class="ActiveRequests">
            <caption>Enter Canal</caption>
            <tr>
                <th>@Html.Label("Canal")</th>
            </tr>
            <tr>
                <th>@Html.TextBoxFor(s => s.Lateral)</th>
            </tr>
        </table>
        <div>
            <button type="submit">Submit</button>
        </div>        
    }
        <p>CFS in Tomorrow's Canal is: @Model.CustomerCFS1</p>
    <p>CFS in Today's Canal is: @Model.CustomerCFS2</p>
    
</body>
