@using KlamathIrrigationDistrict.DataLayer.DataModels
@model DitchRiderRequests

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/DitchRidersMenue.cshtml";
}
<body>
    <p>
        Sorry you are Unathorized to acces this page. Please contact Admin
    </p>
</body>
