<!--<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>-->
<!--Send e-mails from smmusgrave96@gmail.com-->
<smtp from="smmusgrave96@gmail.com">
  <network host="smtp.gmial.com" enableSsl="true" userName="smmusgrave96@gmail.com" password="saramusgrave"/>
</smtp>