@model KlamathIrrigationDistrict.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "KID: Password?";
    ViewBag.Header = "Password Recovery";
    Layout = "~/Views/Shared/KIDLayout.cshtml";
}
@using (Html.BeginForm())
{    
<!--Instructions and password recovery class=container-->

    <!--Instructions class=Instructions-->
    <ol class="Instructions">
        <li>Enter in the email associated with your Klamath Irrigation Account in the appropriate box.</li>
        <li>Check your email account for a temporary password.</li>
        <li>Enter the temporary password in the appropriate box.</li>
        <li>Enter your new password in the appropriate box.</li>
        <li>Confirm your new password by entering your new password again.(This will ensure there are no typos when creating your new password)</li>
        <li>If you need further assistance please contact Klamath Irrigation Office</li>
    </ol>
    <!--Recovery table class=Recovery-->
    <div>
        <table class="Recovery">
            <tr>
                <td>Email</td>
                <td><input type="email" placeholder="Enter Email" name="LogIn" required></td>
                <td><button type="Submit">Send Email</button></td>
            </tr>
            <tr>
                <td>Temporary Password</td>
                <td><input type="password" placeholder="Enter Temporary Password" name="LogIn" required></td>
            </tr>
            <tr>
                <td>Enter New Password</td>
                <td><input type="password" placeholder="Enter New Password" name="LogIn" required></td>
            </tr>
            <tr>
                <td>Re Enter New Password</td>
                <td><input type="password" placeholder="Re Enter New Password" name="LogIn" required></td>
                <td><button type="UpdatePassword">Update Password</button></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"><span class="ReturnLogIn"><a href="Login">Return To Log In Page</a></span></td>
            </tr>
        </table>
    </div>




}